.page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  .page__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    .title {
      font-size: 33px;
      margin-bottom: 30px;
      color: #01b075;
    }
    .cards {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      width: 100%;
      flex-wrap: wrap;
    }
  }
}
.pl0 {
  padding-left: 0;
}
